
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="dist/img/user.png" class="img-circle"
					alt="User Image">
			</div>
			<div class="pull-left info">
				<p>Alexander Pierce</p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MAIN NAVIGATION</li>
			<li class="active"><a href="#/health"> <i
					class="fa fa-medkit"></i> <span>Health</span>
			</a></li>
			<li class="treeview"><a href="#"> <i
					class="fa fa-calendar-o"></i> <span>Eventi</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li class="active"><a href="#/events"><i
							class="fa fa-calendar-o"></i>Lista</a></li>
					<li><a href="#/createevent"><i class="fa fa-plus-square-o"></i>
							Aggiungi</a></li>
				</ul></li>
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
