<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{title}} <small>{{subtitle}}</small>
	</h1>
</section>

<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Eventi Registrati</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table table-bordered">
						<tr>
							<th style="width: 10px"></th>
							<th>ID</th>
							<th>Evento</th>
							<th>Data</th>
							<th>Action</th>
						</tr>

						<tr>
							<td></td>
							<td></td>
							<td><input type="text" class="form-control" name="name"
								ng-model="name" required /></td>
							<td>
								<div class="form-group">
									<div class="input-group date">
										<div class="input-group-addon">
											<i class="fa fa-calendar"></i>
										</div>
										<input type="text" class="form-control pull-right"
											id="datepicker" ng-model="date">
									</div>
									<!-- /.input group -->
								</div>
							</td>
							<td><button class="btn" ng-click="send()">Submit</button></td>
						</tr>

						<tr ng-repeat="event in events">
							<td><i class="fa fa-calendar-o"></i></td>
							<td>{{event.id}}</td>
							<td>{{event.name}}</td>
							<td>{{event.date}}</td>
							<td><button class="btn btn-danger"
									ng-click="delete('{{event.id}}');console.log('delete');">Delete</button></td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->
<script>
$('#datepicker').datepicker({
  autoclose: true
})
</script>