<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		{{title}} <small>{{subtitle}}</small>
	</h1>
</section>


<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Dettagli</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table class="table table-bordered">
						<tr>
							<th style="width:10px"></th>
							<th>Service</th>
							<th>Status</th>
							<th>Details</th>
						</tr>
						
						<tr ng-repeat="(key, data) in health.details">
							<td><i class="fa fa-calendar-o"></i></td>
							<td>{{key}}</td>
							<td>{{data.status}}</td>
							<td>{{data.details}}</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.content -->